.App {
  text-align: center;
  background-color: #e31d3b;
  min-height: 100vh;
  font-family: Lato;
}
.App-title {
  font-size: 1.3rem;
  margin: 0;
  font-weight: 900;
  padding: 1rem;
  color: #f9f9f9;
}
